<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:cxf="http://camel.apache.org/schema/cxf"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
        
    <cxf:rsServer id="cxfConsumer" 
        address="$targetAddress" 
        serviceClass="$serviceClass">
        <cxf:providers>
            <bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>
        </cxf:providers>
    </cxf:rsServer>
        
    <bean id="targetBean" class="$targetBean"/>
    
    <camelContext id="cxfrs" xmlns="http://camel.apache.org/schema/spring">
        <route id="consumerRoute">
            <from uri="cxfrs:bean:cxfConsumer" />
            <log loggingLevel="INFO" message="${header.operationName}"/>
            <choice>
				#foreach( $method in $allMethods )
                <when>
                    <simple>${header.operationName} == '$method.methodName'</simple>
                    <to uri="bean:targetBean?method=$method.methodName"/>
                </when>
				#end
            </choice>
        </route>
    </camelContext>

</beans>